@{
	Layout = "~/Views/_Layout.cshtml";
	LayoutModel model = ViewBag.LayoutModel;
}

@section Top {
	@Html.Partial( "~/Views/TopMenu.cshtml", model.SecondTopMenu )
	<div class="toptop"></div>
	<div class="bannerwrapper">
		<div class="banner" title="Muzterapevt.RU">
			@Html.Partial( "~/Views/Text.cshtml", model.TopRight )
		</div>
		<div class="bannerb">
			<a class="logo" href="@Url.Content("~/")"><img src="@Url.Content( "~/Content/img/logo.png" )" /></a>
		</div>
	</div>
}
@section LeftSidebar {
	@RenderSection( "LeftSidebar", false )
}
@section Footer {

	<div class="right">
		Наши сообщества:
		<a class="link-facebook" href="https://www.facebook.com/groups/muzterapevt/">Facebook</a>
		<a class="link-vk" href="http://vk.com/muzterapevtru">ВКонтакте</a> |
		<a href="mailto:muzterapevt@gmail.com">e-mail</a> |
		@if ( !model.CurrentUser.IsAuthenticated ) { <a href="#" class="autobind" data-controller="LoginButton, Login">login</a> }
		else { <a href="@Url.Action( (Mut.Controllers.LoginController c) => c.Logout( Request.Url.ToString() ) )">logout</a> }
	</div>

	<a href="@Url.Content("~/")">Музтерапевт.Ру</a> |
	&copy; 2013-@DateTime.Now.Year Alisa Apreleva<br />
}

@RenderBody()