@{
	LayoutModel model = ViewBag.LayoutModel;
}
<!DOCTYPE html>
<html>
	<head>
		<title>@ViewBag.Title</title>
		<script type="text/javascript" data-main="@Url.Content("~/Content/js/amd-base-url-marker")" src="@Url.Content("~/Content/require/require.js")"></script>
		<script type="text/javascript" src="@Url.Content("~/Content/js/amd-config.js")"></script>
		<script type="text/javascript">define('RootUrl', [], function () { return '@Url.Content("~/")'; });</script>
		<link type="text/css" rel="stylesheet" href="@Url.Content("~/Content/css/template-style.css")" />
	</head>
	<body>
		<div class="container">
			@Html.Partial( "~/Views/TopMenu.cshtml", model.SecondTopMenu )
			<div class="banner"><img src="@Url.Content( "~/Content/img/template/banner.jpg" )" alt="Muzterapevt.RU" title="Muzterapevt.RU"/> </div>
			<div class="bannerb">
				@Html.Partial( "~/Views/Text.cshtml", model.TopRight )
			</div>
			@Html.Partial( "~/Views/TopMenu.cshtml", model.TopMenu )
			<div class="sidebar">
				@RenderSection("LeftSidebar", false)
				@Html.Partial( "~/Views/Text.cshtml", model.Left )
			</div>
			<div class="sidebar-b">
				@Html.Partial( "~/Views/Text.cshtml", model.Right )
			</div>
			<div class="content">
				@RenderBody()
			</div>
			<div class="footer"> <a href="@Url.Content("~/")">homepage</a> | <a href="mailto:alisa@apreleva.com">contact</a> | &copy; 2013 Alisa Apreleva<br/></div>
		</div>
	</body>
</html>