@model PageModel
@using erecruit.Utils

@{ ViewBag.Title = Model.Page.Title; }
@section LeftSidebar {
		@if ( Model.ChildPages.Any() ) { 
			<h1>В этом разделе</h1>
			<div class="sidenav">
				<ul>
					@foreach( var p in Model.ChildPages ) {
						<li><a href="@Url.Content( p.Url )">@( p.ReferenceName.NullOrEmpty() ? p.Title : p.ReferenceName )</a></li>
					}
				</ul>
			</div>
		}
}

@if ( Model.AllowEdit ) {
	<div class="autobind" data-controller="PageVm, BL/page" data-args="{ id: @Model.Page.Id }">
		@if ( !Model.Page.Title.NullOrEmpty() ) { <h2>@Model.Page.Title</h2> }
		@Html.Raw( Model.Page.HtmlText )
	</div>
}
else {
	<h2>@Model.Page.Title</h2>
	@Html.Raw( Model.Page.HtmlText )
}